.img-responsive{
    width:100%;
}
.navbar{
    margin-bottom: 50px;
}

.card{
    margin-top: 30px;
}
.img-thumbnail{
    margin-bottom: 30px;
}
#des{
    margin-left: 9px;
}

#delete-form{
    display:inline;
}